//////////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////////
body
  color alpha($body-color, 87%)

a
  text-decoration none
  color #ccc

sup
  font-size 50%

.dark
  color alpha($body-color-light, 100%)

.light
  color alpha($body-color, 87%)



.tera
  font-size (112/$em)rem
h1,
.giga
  font-size (56/$em)rem
.mega
  font-size (45/$em)rem
h2,
.alpha
  font-size (34/$em)rem
h3,
.beta
  font-size (24/$em)rem
.gamma
  font-size (20/$em)rem
h4,
.delta
  font-size (18/$em)rem
h5,
.epsilon
  font-size (14/$em)rem
h6,
.zeta
  font-size (12/$em)rem

///
// .tera
//   font-size (114/$em)rem
// h1,
// .giga
//   font-size (89/$em)rem
// .mega
//   font-size (55/$em)rem
// h2,
// .alpha
//   font-size (34/$em)rem
// h3,
// .beta
//   font-size (21/$em)rem
// .gamma
//   font-size (13/$em)rem
// h4,
// .delta
//   font-size (8/$em)rem
// h5,
// .epsilon
//   font-size (5/$em)rem
// h6,
// .zeta
//   font-size (3/$em)rem
