include mixins/thumbs.jade



//- .gold-bar
//-
//- section.paxy.clear.full.z10
//-   div.sw
//-     div.cw
//-       a(href="#/work")
//-         button.poxyap13a_18.m0
//-           .oxy Work
//-       a(href="#/about")
//-         button.poxyap13a_18.m0
//-           .oxy About
//-       a(href="#/resume")
//-         button.poxyap13a_18.m0
//-           .oxy Resume
//-
//- .gold-bar

.parallax__layer.parallax__layer__0.bg90(style="backround-image: url('/images/home/parallax0.png')")
  .stars
  .twinkling
  //- .clouds

  section
    .sw
      .cw.a_12b_23c_11.rel.dark
        .circle.oxy10.a112a_112b14b_14.z10.ml1
          a(href="#0").qoxy.cd-3d-nav-trigger.rel.mt3.mb0 Menu
            span

        .oxy.a11a_12.mt0.tx-c
          .oxy
            .title.page-head.mt1 PAUL WOOD
            .alpha D E S I G N  +  C O D E


//-
//- .parallax__layer.parallax__layer__1.bgcb(style="background-image: url('/images/home/parallax1.png')")
//- .parallax__layer.parallax__layer__2.bgcb(style="background-image: url('/images/home/parallax2.png')")
//- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
.parallax__layer.parallax__layer__4.bgcb
  section.bg0
    .sw
      .cw.a_12b_23c_11.rel.dark
        .circle.oxy10.a112a_112b14b_14.z10.ml1
          a(href="#0").qoxy.cd-3d-nav-trigger.rel.mt3.mb0 Menu
            span

        .oxy.a11a_12.mt0.tx-c
          .oxy
            .page-head
              span.text PAUL WOOD
            .subtitle.delta.tx-l Creator + Husband + Cook + Snowboarder + Playstation = ME
  .gold-bar

//- .parallax__layer.parallax__layer__5.bgcb(style="background-image: url('/images/home/parallax5.png')")
//- .parallax__layer.parallax__layer__6.bgcb(style="background-image: url('/images/home/parallax6.png')")


.parallax__cover
  //- .gold-bar
  .gold-bar
  section
    .sw
      .cw.a11a_12.thumbs
        +p12()
        //- +p15()
        +p14()
        +p18()
        //- +p19()
        +p110()
        //- +p111()
        +p112()
        //- +p113()
        +p114()
        //- +p115()
        +p116()
        //- +p117()
        +p118()
  .gold-bar
  section
    .sw
      .cw.a11a_12.thumbs
        +p12()
        //- +p15()
        +p14()
        +p18()
        //- +p19()
        +p110()
        //- +p111()
        +p112()
        //- +p113()
        +p114()
        //- +p115()
        +p116()
        //- +p117()
        +p118()

  footer
    .gold-bar
    section.dark
      div.sw
        div.cw
          figure.poxa14a_14poxb14b_14poxc12poxc_14poxd12d_14poxe11e_14
            h4 Section Heading
            nav.pox.epsilon
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link

    .gold-bar

    section
      div.sw
        div.cw
          div.soical-icons.poxya12a_116poxyb12b_18poxye11e_18.txt-c.mb0
            figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
              a(target="_blank" href='#').oxy
                span &#xe027;
            figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
              a(target="_blank" href='#').oxy
                span &#xe027;
            figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
              a(target="_blank" href='#').oxy
                span &#xe027;
            figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
              a(target="_blank" href='#').oxy
                span &#xe027;

          .poxya12a_116poxyb12b_18.poxye11e_16.tx-v.zeta.mb0
            span.txa-r.txb-r.txe-c &copy; 2014
              a(href="#") Poxy All Rights Reserved.








//- section.bg0
//-   .sw
//-     .cw.a_12b_12c_11.rel
//-       .circle.oxy.a14a_14b14b_14
//-       .oxy.a11a_14b11b_12c_12d_12e_12
//-         .title.tera PAUL WOOD
//-         .title.giga D E S I G N  +  C O D E
//-         .subtitle.delta geek + smart + curious + nerd + ingenious + cunning = ME





//- section
//-   div.sw
//-     div.cw.thumbs
//-       +p12()
//-       //- +p15()
//-       +p14()
//-       +p18()
//-       //- +p19()
//-       +p110()
//-       //- +p111()
//-       +p112()
//-       //- +p113()
//-       +p114()
//-       //- +p115()
//-       +p116()
//-       //- +p117()
//-       +p118()
//-
//-
//-
//-
//-       +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home.png);')
//-       +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a.png);')
//-       +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a.png);')
//-       +thumb_1('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a.png);')
