include mixins/mixin-lorem-ipsum.jade
include mixins/thumbs.jade
.gold-bar

section.clear
  div.sw
    div.cw.a_112


//- section.clear.full
//-   div.sw
//-     div.cw
//-       a(href="#/work")
//-         button.poxyap13a_112.m0
//-           .oxy Work
//-       a(href="#/about")
//-         button.poxyap13a_112.m0
//-           .oxy About
//-       a(href="#/resume")
//-         button.poxyap13a_112.m0
//-           .oxy Resume

section
  .sw
    .cw.a_12b_12c_11.rel
      .circle.oxy.a14a_14b14b_14
      .oxy.a11a_14b11b_14c_12d_12e_12
        .page-head
          span.text.mega RESUME
      .oxy.a11a_14b11b_14c_12d_12e_12
        .page-head
          span.text.mega.title RESUME
        .title.delta D E S I G N  +  C O D E
        .title.zeta nerd + ingenious + cunning = ME
          | Name: Paul Wood
          br
          | Address: 4546 E Kentucky CIR Denver CO 80246
          br
          | Website: paulwood.me
          br
          | Email: paulwooddesign@gmail.com
          br
          | Phone number: 616 566 2778

.gold-bar


//- section.clear.full
//-   div.sw
//-     div.cw
//-       a(href="#/work")
//-         button.poxyap13a_112.m0
//-           .oxy Work
//-       a(href="#/about")
//-         button.poxyap13a_112.m0
//-           .oxy About
//-       a(href="#/resume")
//-         button.poxyap13a_112.m0
//-           .oxy Resume
//- .gold-bar



section
  .sw
    .cw
      //- .poxy.a14a_124.rel
      //-   .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.beta.tx-l EDUCATION

.gold-bar

section
  .sw
    .cw
      .poxy.a14a_14b14b_14.rel
        a(href="#/work")
          button.poxyap13a_112.m0
            .oxy Work
        a(href="#/about")
          button.poxyap13a_112.m0
            .oxy About
        a(href="#/resume")
          button.poxyap13a_112.m0
            .oxy Resume

        .qaxya11a_14qaxyb11b_14.bg90.br2
          .oxy.ap11ap_99bp11bp_99.gold-filter.br2
          .oxy.ap11ap_98bp11bp_98.bg90.br2.mr4.bg-stars
          //- .stars.br2.ap_98


      .qoxy.a34b34
        .wrap
          .poxy.a34b34
            .delta BFA, Digital Media
            p
              | Kendall College of Art and Design
              br
              | Grand Rapids, MI
              br
              | 2006 – 2008
              br


          .poxy.a34b34
            .delta AAS, Visual Design & Web Media
            p
              | Ferris State University
              br
              | Big Rapids, MI
              br
              | 2004 – 2006
              br

          //- .poxy.a14b14
          //-   Studied - Film & Video
          //-   p
          //-     | Grand Valley State University
          //-     br
          //-     |
          //-     br
          //-     | 2002 – 2004



.gold-bar

section
  .sw
    .cw
      .poxy.a14a_120.rel.mb0
        //- .qaxya11ap_11.bg90
        //-   .stars
      .qoxy.a34b34
        .title.beta.tx-l EXPERIENCE

.gold-bar


section
  .sw
    .cw
      .poxy.a14a_14b14b_14.rel
        .qaxya11a_14qaxyb11b_14.bg90.br2
          .oxy.ap11ap_99.bp11bp_99.gold-filter.br2
          .oxy.ap11ap_97.bp11bp_97.bg98.br2.mr4.bg-stars
          //- .stars.br2.ap_98


      .qoxy.a34b34
        .wrap

          .poxy.a12b14
            .delta June 2012 – December 2014
            p
              | Web Designer & Developer
              br
              | Workhorse 45
              br
              | Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.


          .poxy.a12b14
            .delta April 2009 – May 2010
            p
              | Web Designer & Developer, Motion-Graphic Artist, Video Editor
              br
              | Versatile Productions, Inc
              br
              | Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.


//- .gold-bar

section
  .sw
    .cw
      .qoxy.a34b34
        p.title.beta.
          Paul Wood also runs his own freelance business, under
          Paul Wood Design, LLC. Through it, he has worked on the following
          things….

//- .gold-bar

section
  .sw
    .cw
      .poxy.a14a_13.rel
        .qaxya11a_13.bg90.br2
          .oxy.ap11ap_99.gold-filter.br2
          .oxy.ap11ap_97.bg98.br2.mr4.bg-stars
          //- .stars.br2.ap_98

      .qoxy.a34b34
        .wrap
          .poxy.a14b14
            p
              strong Chimera - (2014-ongoing)
              br
              | www.chimeralighting.com
              br
              | Manufacturer of high quality professional creative lighting solutions for the motion picture and still photography industries.
              | Int 1200+ page entertainment lighting

          .poxy.a14b14
            p
              strong POXY - (2014-ongoing)
              br
              a(href="#") www.poxy.io
              br
              | Developed an open source responsive frontend grid framework.

          .poxy.a14b14
            p
              strong TjohnE(2008-ongoing)
              br
              | www.tjohne.com
              br
              | Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing



.gold-bar

section
  .sw
    .cw
      .poxy.a14a_124.rel
        .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.gamma.tx-l INTERESTS

.gold-bar

section
  .sw
    .cw
      .qoxy.a34b34
        p.beta.
          Paul Wood also runs his own freelance business, under
          Paul Wood Design, LLC. Through it, he has worked on the following
          things….

.gold-bar


section
  .sw
    .cw
      .poxy.a14a_124.rel
        .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.gamma.tx-l SKILLS

.gold-bar

section
  .sw
    .cw
      .qoxy.a34b34
        p.beta.
          Paul Wood also runs his own freelance business, under
          Paul Wood Design, LLC. Through it, he has worked on the following
          things….

.gold-bar
