include mixins/mixin-lorem-ipsum.jade
include mixins/thumbs.jade
.gold-bar

section.clear.full
  div.sw
    div.cw
      a(href="#/work")
        button.poxyap13a_18.m0
          .oxy Work
      a(href="#/about")
        button.poxyap13a_18.m0
          .oxy About
      a(href="#/resume")
        button.poxyap13a_18.m0
          .oxy Resume

.gold-bar


section
  .sw
    .cw.a_12b_12c_11.rel
      .circle.oxy.a14a_14b14b_14
      .oxy.a11a_14b11b_12c_12d_12e_12
        .title.tera RESUME
        .title.giga D E S I G N  +  C O D E
        .subtitle.delta geek + smart + curious + nerd + ingenious + cunning = ME

.gold-bar









section
  div.sw
    div.cw.thumbs
      .poxa14a_14.rel
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        p.mt0
          +lipsum(150, "words")

      .poxa14a_14.rel
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        h5.mt0
          +lipsum(140, "words")

      .poxa14a_14.rel
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        h4.mt0
          +lipsum(140, "words")

      .poxa14a_14.rel
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        h3.mt0
          +lipsum(100, "words")

      .poxa14a_14.rel
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        h2.mt0
          +lipsum(40, "words")

      .poxa14a_14.rel
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        span.paxya14a_14b313b_313c313c_313d313d_313e313e_313.color-filter
        h1.mt0
          +lipsum(40, "words")



      +p12()
      //- +p15()
      +p14()
      +p18()
      //- +p19()
      +p110()
      //- +p111()
      +p112()
      //- +p113()
      +p114()
      //- +p115()
      +p116()
      //- +p117()
      +p118()




      +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home.png);')
      +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a.png);')
      +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a.png);')
      +thumb_1('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a.png);')
