include mixins/thumbs.jade


.parallax__layer.parallax__layer__0

  //- .stars
  //- .twinkling
  //- .clouds



.parallax__layer.parallax__layer__1

  section
    .sw
      .cw.a_11b_11c_11.rel
        .circle.oxy9.a18a_18b14b_14.z10.ml1


        .oxy.a11a_12b11b_11.mt0
          .oxy
            .page-head
              span.text.mega WORK
            .subtitle.zeta.tx-l Creator + Husband + Cook + Snowboarder + Playstation = ME

          .oxy
            .page-head
              span.text.mega.title WORK
            .subtitle.zeta.tx-l Creator + Husband + Cook + Snowboarder + Playstation = ME


  //- .parallax__layer.parallax__layer__2.bgcb(style="background-image: url('/images/home/parallax2.png')")
  //- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
  //- .parallax__layer.parallax__layer__4.bgcb(style="background-image: url('/images/home/parallax4.png')")
  //- .parallax__layer.parallax__layer__5.bgcb(style="background-image: url('/images/home/parallax5.png')")
.parallax__layer.parallax__layer__6

  section.clear.full.baxy.bg90
    .gold-bar

    div.sw
      div.cw
        a(href="#/motion")
          button.poxyap13a_110bp13b_110.m0
            .oxy motion
        a(href="#/work")
          button.poxyap13a_110bp13b_110.m0
            .oxy interactive
        a(href="#/resume")
          button.poxyap13a_110bp13b_110.m0
            .oxy static
    .gold-bar



.parallax__cover.ofh


  //- .horizontal-guides.paxy.ap11ap_11
  //-   section.bg0
  //-     .sw.ap11a_14
  //-   section.bg0
  //-     .sw.ap11a_14
  //-   section.bg0
  //-     .sw.ap11a_14
  //-   section.bg0
  //-     .sw.ap11a_14
  //-   section.bg0
  //-     .sw.ap11a_14
  //-   section.bg0
  //-     .sw.ap11a_14
  //-   section.bg0
  //-     .sw.ap11a_14
  //-
  //- section.clear.vertical-guides.bg0
  //-   .sw
  //-     .cw
  //-       figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
  //-         figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
  //-
  //-       figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
  //-         figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
  //-
  //-       figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
  //-         figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
  //-
  //-       figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
  //-         figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0







  section.thumbs.z2
    div.sw
      div.cw
        //- +thumb_3()
        +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home-a-thumb.jpg);')
        +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
        +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')
        +thumb_1('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
        +thumb_1('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
        +thumb_1('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
        +thumb_1('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
        +thumb_1('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
        +thumb_1('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
        +thumb_1('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
        +thumb_1('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
        +thumb_1('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
        +thumb_1('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a-thumb.jpg);')
        +thumb_1('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
        +thumb_1('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a-thumb.jpg);')
        +thumb_1('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a-thumb.jpg);')
        +thumb_1('#/zinga-yogurt', 'Zinga Froyo')(style='background-image: url(images/work/zinga-home-a-thumb.jpg);')
        +thumb_1('#/snomass-club', 'Snowmass Club')(style='background-image: url(images/work/smc-home-a-thumb.jpg);')




  //- - var n = 0
  //- - var i = 24
  //- section
  //-   div.sw
  //-     div.cw
  //-       while n < i
  //-         figure(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').grad1.a14a_14b14b_14c14c_14d14d_14e12e_12
  //-           a(href="#")
  //-             span.paxyap11ap_11
  //-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.bg-wood
  //-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.shadow
  //-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.grad2
  //-             span(style='background-image: url(images/work/chimera-home.png);').oxy.bgct.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.shadow
  //-               h4.oxy6.mb1= n++


  footer
    .gold-bar
    section.dark.hide
      div.sw
        div.cw
          figure.poxa14a_14poxb14b_14poxc12poxc_14poxd12d_14poxe11e_14
            h4 Section Heading
            nav.pox.epsilon
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link
              a(href="#") footer link

    .gold-bar

    section
      div.sw
        div.cw
          //- div.soical-icons.poxya12a_116poxyb12b_18poxye11e_18.txt-c.mb0
          //-   figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
          //-     a(target="_blank" href='#').oxy
          //-       span &#xe027;
          //-   figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
          //-     a(target="_blank" href='#').oxy
          //-       span &#xe027;
          //-   figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
          //-     a(target="_blank" href='#').oxy
          //-       span &#xe027;
          //-   figure.poxya116a_116poxyb18b_18poxye14e_18.tx-v
          //-     a(target="_blank" href='#').oxy
          //-       span &#xe027;

          .qoxya12a_116qoxyb12b_18.qoxye11e_16.tx-v.zeta.mb0
            span.txa-r.txb-r.txe-c &copy; 2014
              a(href="#") Poxy All Rights Reserved.
